<link rel="stylesheet" href="/css/homePage.css">
<h1>Welcome to the Authentication System</h1>
<% if(locals.user){%>
    <p>Click on the name to reset password<a href="/users/profile/<%= user.id%>"><%= user.name%></a></p>
<%}%>
        