<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1>Hey there</h1>
    </body>
    <script src="/js/home.js"></script>
</html>