<link rel="stylesheet" href="/css/profile.css">
<div id="profile">
    <h1>Hello I m <%= profile_user.name%></h1>

    <% if(user.id == profile_user.id){%>
    <!-- if matches show form -->
        <form action="/users/update/<%= profile_user.id %>" method="post">
            <input type="password" name="password" placeholder="Enter new password">
            <input type="submit" value="Reset">
        </form>
    <%}else{%>
        <!-- show nothing -->
    <%}%>
</div>




