p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 1.5rem;
}
p>a{
    background-color: blanchedalmond;
    font-size: 3rem;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}